
.filter-box
{
    background-color: #F7F7F7;
    padding: 10px;
    margin-bottom: 30px;
}


.filter-box .filter-tablist 
{
    background-color: var(--white-color);
    border: 1px solid #DFDFDF;
    max-width: 190px;
    padding: 4px 10px 9px;
}

.filter-box .filter-tablist  .nav-item .nav-link img 
{
    filter: grayscale(1);
    opacity: 0.4;
}


.filter-box .filter-tablist  .nav-item .nav-link.active img
{
    filter: grayscale(0);
    opacity: 1;
}  

.filter-box .filter-default
{
    height: 36px;
    padding: 5px 14px;
    cursor: pointer;
    min-width: 180px;
    background-position: calc(100% - 15px) 50%;
}