#modal-cookies .modal-content .modal-header button,#modal-subscribe .modal-content .modal-header button,#modal-product .modal-content .modal-header button
{   
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
    border-radius: 0;
    z-index: 999;
    color: var(--white-color) !important;
}


#modal-cookies .modal-content .modal-header button i,#modal-subscribe .modal-content .modal-header button i, #modal-product .modal-content .modal-header button i 
{
    font-size: 24px;
    line-height: 1;
    color: var(--white-color);
    display: inline-block;
}


#modal-product .modal-content .modal-header button{
    top: 5px;
    right: 2px;
}

#modal-product .modal-content .modal-header button i
{
    color: var(--js_title-color);
}


#modal-product .modal-content
{
    padding: 15px;
}

@media (max-width:767px) {   
    #modal-product .modal-content .modal-header button, #modal-cookies .modal-content .modal-header button, #modal-subscribe .modal-content .modal-header button 
    {
        top: 10px;
        right: 10px;
    } 
}

@media (min-width:768px) and (max-width:991) {
    #modal-subscribe .modal-dialog
    {
        max-width: 600px;
    }
}

@media (min-width:1400px) {   
    #modal-subscribe .modal-dialog
    {
        max-width: 655px;
    }

    #modal-product .modal-dialog
    {
        max-width: 390px;
    }
}


.modal.show {
    pointer-events: auto;
}

