.testimonial_section .testimonial_section_sub_wrap .testimonial_bg
{
    /* background-image: url("../../assets/images/testimonial-bg.jpg"); */
    background-image: url("@/assets/images/testimonial/testimonial-bg.jpg");
    height: 100%;
    width: 50%;
    z-index: -1;
    position: absolute;
}

.testimonial_section .testimonial_section_sub_wrap.style-two .testimonial_bg
{
    /* background-image: url("../../assets/images/testimonial-bg-2.jpg"); */
    background-image: url("@/assets/images/testimonial/testimonial-bg-2.jpg");
}

.testimonial_card
{
    background-color: #FFFCF9;
    padding: 47px 95px;
}

.testimonial_card p 
{
    font-size: 22px;
    line-height: 38px;
    margin: 38px 0 40px;
}

.testimonial_card h5 
{
    margin-bottom: 10px;
    font-size: 24px;
}



@media (max-width:767px) {
    .testimonial_card
    {
        padding: 25px 20px;
    }

    .testimonial_card p 
    {
        font-size: 16px;
        line-height: 28px;
        margin: 30px 0 30px;
    }

    .testimonial_card h5
    {
        margin-bottom: 6px;
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .testimonial_card
    {
        padding: 40px 65px;
    }

    .testimonial_card p 
    {
        font-size: 20px;
        line-height: 33px;
    }
}


@media (min-width:992px) and (max-width:1199px) {
    .testimonial_card
    {
        padding: 47px 55px;
    }

    .testimonial_card p 
    {
        font-size: 20px;
        line-height: 33px;
    }
}

@media (min-width:1400px) {
    .testimonial_card
    {
        padding: 47px 125px;
    }

    .testimonial_card p 
    {
        font-size: 24px;
        line-height: 40px;
    }
}

