.collection_card > img 
{
    transition: var(--transition);
}

.collection_card .collection_info
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    min-width: 180px;
    max-width: 282px;
    background-color: rgba(217, 217, 217, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 15px 18px;
    transition: var(--transition);
}

.collection_card .collection_info h3 {
    margin-bottom: 10px;
}

.collection_card .collection_info .js_link.style-three img
{
    margin-left: 8px;
    position: relative;
    top: 0px;
}

.collection_card.style-two 
{
    /* background-image: url("../../assets/images/collection-6.jpg"); */
    background-image: url("@/assets/images/collection/collection-6.jpg");
    height: calc(100% - 25px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


.collection_card:hover img 
{
    transform: scale(1.05);
}

.collection_card.style-two .collection_info
{
    position: absolute;
    bottom: 30px;
    left: 30px;
    min-width: 180px;
    max-width: 306px;
    background-color: rgba(255, 252, 249, 0.7);
    padding: 25px 25px 22px 30px;
    transition: var(--transition);
}

.collection_card.style-two .collection_info h3
{
    margin-bottom: 9px;
    font-size: 50px;
}

.collection_card.style-three .collection_info 
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    min-width: 180px;
    max-width: 282px;
    background-color: rgba(217, 217, 217, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    transition: var(--transition);
}

.collection_card.style-three .collection_info h3 
{
    margin-bottom: 10px;
}


@media (max-width:767px) {

    .collection_card.style-two .collection_info h3
    {   
        margin-bottom: 9px;
        font-size: 34px;
    }

    .collection_card.style-two .collection_info
    {
        bottom: 15px;
        left: 15px;
        min-width: 180px;
        max-width: 300px;
        padding: 25px 25px 22px 25px;
        transition: var(--transition);
    }

    .collection_card.style-two 
    {
        height: 450px;
    }

    .collection_card.style-three .collection_info 
    {
        padding: 10px 15px;
    }

    .collection_card.style-three .collection_info h3 
    {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .collection_card.style-two 
    {
        height: 620px;
    }
}