
.subscribe_area {
    background-image: url("@/assets/images/newsletter/subscribe-bg.jpg");
}


.subscribe_area .subscribe_now_form {
    position: relative;
    margin: 43px 0 30px;
}


.subscribe_area .subscribe_now_form .input_subscribe {
    display: inline-block;
    height: 62px;
    box-shadow: unset;
    padding: 15px 215px 15px 15px;
    border: 1px solid var(--js_ash-color)
}


.subscribe_area .subscribe_now_form button {
    position: absolute;
    top: 4px;
    right: 4px;
    height: calc(100% - 8px);
}

.subscribe_area .subscribe_now_form button img {
    position: relative;
    top: -1px;
    margin-left: 8px;
}


.js-btn.style-one img {
    filter: brightness(0) invert(1);
}

.subscribe_area .subscribe_now_form .validation-danger {
    margin-top: 8px;
    color: var(--js_main-color);
}

.cart_table_area table thead tr {
    border: none;
}

.cart_table_area table thead tr th:first-child {
    padding-left: 0;
}

.cart_table_area table thead tr th:last-child {
    padding-right: 0;
}

.cart_table_area table thead tr th {
    vertical-align: middle;
    padding: 0 12px 14px 12px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: var(--js_title-color);
}


.cart_table_area table tbody:not(:first-child) {
    border-top: unset;
}

.cart_table_area table tbody tr {
    border: none;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.cart_table_area table tbody tr td {
    vertical-align: middle;
    white-space: nowrap;
    padding: 24px 12px 24px 12px;
    border: none;
}

.cart_table_area table tbody tr td:first-child {
    padding-left: 0;
}

.cart_table_area table tbody tr .product_thumbnail .image a img {
    max-width: 115px;
}

.cart_table_area table tbody tr .product_thumbnail .title {
    margin-left: 35px;
}


.cart_table_area table tbody tr .product_thumbnail .title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 12px;
}

.cart_table_area table tbody tr td button.delete-btn i , .cart_table_area table tbody tr td button.js-save-btn {
    position: relative;
    top: 1px;
    left: -2px;
    margin-right: 4px;
}



.cart_table_area table tbody tr td.product_thumbnail .title ul {
    padding-left: 0;
    margin-bottom: 0;
}

.cart_table_area table tbody tr td.product_thumbnail .title ul li {
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--black-color);
    display: inline-block;
    margin-right: 15px;
}

.cart_table_area table tbody tr td.product_thumbnail .title ul li:last-child {
    margin-right: 0;
}



.cart_table_area table tbody tr td.product-quantity .input-counter
{
    max-width: 100px;
    min-width: 100px;
    text-align: center;
    display: block;
    position: relative;
    background-color: #f6f6f8;
    border: 1px solid #dfdfdf;
}

.cart_table_area table tbody tr td.product-quantity .input-counter span
{
    position: absolute;
    top: 5px;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 100%;
    line-height: 36px;
    transition: var(--transition);
    font-size: 14px;
}



.cart_table_area table tbody tr td.product-quantity .input-counter span.minus-btn {
    left: -3px;
}


.cart_table_area table tbody tr td.product-quantity .input-counter span.plus-btn {
    right: -3px;
}


.cart_table_area table tbody tr td.product-quantity .input-counter input
{
    height: 42px;
    color: var(--js_title-color);
    outline: 0;
    display: block;
    border: none;
    background-color: #f6f6f8;
    text-align: center;
    width: 100%;
}




@media (max-width:991px) {
    .cart_table_area table tbody tr td {
        padding: 20px 50px 20px 0px;
    }
}

@media (max-width:767px) {
    .subscribe_area .subscribe_now_form {
        margin: 30px 0 20px;
    }

    .subscribe_area .subscribe_now_form .input_subscribe {
        height: 54px;
        padding: 12px 15px 12px 15px;
    }

    .subscribe_area .subscribe_now_form button {
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        margin-top: 10px;
        width: 100%;
        display: block;
    }
}